<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
<center>
    <h2>Login</h2>
    <p id="show" style="color: red"></p>
<form action="login" method="post" id="form">
    Username: <input type="text" id="username" /><br><br>
    Password: &nbsp;<input type="password" id="password"><br><br>
    <button type="submit" id="submit">Login</button>
</form>
</center>
<script>
       $(document).ready(function(){
            $("#form").submit(function(event){
                var username = $("#username").val();
                var password = $("#password").val();
                $.ajax({
                url : $("#form").attr("action"),
                data: {'username': username, 'password': password},
                type: "POST",
                success: function(response){
                        if(response=="true")
                        {
                           localStorage.setItem("login", "true");
                            window.location="/welcome";
                        }
                         else
                         {
                            $("#show").html("Incorrect Username/Password. Please try again!");
                         }
                },
                error: function(xhr, status, error) {
                    alert(xhr.responseText);
                }
                });
                return false;
            });
       });
</script>
</body>
</html>